<div class="row">
  <div class="medium-8  medium-centered columns">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

      <h2 class="text-center">Forgot your password?</h2>
      <%#=# f.error_notification %>
      <% email_error = resource.errors[:email].present? %>

      <%= f.label :email, 
        class: (email_error ? "is-invalid-label" : nil) do %>
        <%= t(".email") %>
        <%= f.text_field :email, required: false, autofocus: true, placeholder: "somebody@example.com" %>

        <% resource.errors.full_messages_for(:email).each do |mesage| %>

          <%= content_tag :small, mesage , class: "form-error is-visible" %>
        <% end %>
      <% end %>

      <div class="form-actions text-center">
        <%= f.submit t(".submit"), class: "button expanded" %>

        <%= render "devise/shared/links" %>
      </div>
    <% end %>
  </div>
</div>